body {
  margin: 0;
  padding: 0
}

.header-page {
  background: rgb(45, 152, 214)
}

/* HEADER LOGO */

.logo-brand {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-image {
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #ffffff;
}

.logo-brand > span {
  color: #ffffff;
  display: block;
  margin-left: 10px;
}

.logo-brand:hover {
  text-decoration: none;
}

.avatar-image {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin: 0 15px;
  background: #ffffff;
}

/* HEADER NAVBAR */

.navbar {
  padding: 0;
  margin: 0
}

 .navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.nav-item {
  padding: 0 15px;
  font-weight: 400;
}

.header-nav-bar .nav-item:last-child {
  margin: 0 20px 0 50px;
}

.nav-item:last-child > a {
  text-transform: unset !important;
  display: flex;
  align-items: center;
}

.nav-item:last-child > a > span {
  text-decoration: underline;
  font-weight: 400 !important;
}

.nav-item > a {
  text-transform: uppercase;
  color: #ffffff !important
}

.user-avatar {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 20px;
  margin: 0 15px;
}

.user-avatar > span {
  color: #000000;
  font-size: 10px;
}

.header-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.header-page > h6 {
  color: white;
  margin: 0;
  padding-left: 20px;
}

.container-fuild {
  background-color: rgb(250, 251, 252);
  padding: 0 15px;
}

table {

}

table thead th , table tbody tr td {
  text-align: center
}

.btn-refresh {
  background: #ffffff;
  border: none;
  color: #73c99d;
  padding: 5px 15px;
  cursor: pointer
}

.btn-delete {
  background: #ffffff;
  border: none;
  color: #3998d7;
  padding: 5px 15px;
  cursor: pointer
}

.btn-refresh:focus, .btn-delete:focus, .input-key:focus, .btn-sidebar:focus {
  outline: none
}

.input-key {
  border: none;
  text-align: center
}

.on-toggle {
  font-size: 12px;
  cursor: pointer;
  color: green
}

.wrapper-btn-add {
  display: flex;
  flex-direction: row;
  justify-content: center
}

.btn-add-new, .btn-save {
  border: none;
  color: #ffffff;
  padding: 5px 35px;
  cursor: pointer;
  border-radius: 3px;
  background:  #3998d7
}

.input-new-text {
  text-align: center;
  font-size: 12px;
}

/* SIDEBAR */

.sidebar-content {

}

.sidebar-content .navbar-nav {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  border-right: 1px solid #cccccc;
  padding-left: 10px;
}

.sidebar-content > .navbar-nav .nav-item:nth-child(2){
  margin: 0 !important;
}

.sidebar-content .nav-item {
  text-align: left;
  width: 100%;
  padding: 10px 0;
}

.sidebar-content .nav-item > a {
  color: #666666 !important;
}

.show-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-sidebar {
  background: #ffffff;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: #666666;
}

.content-title {
  padding: 60px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-title h6 {
  font-size: 14px;
  color: #999999;
}

.icon-toggle {
  cursor: pointer;
}

.icon-sidebar {
  color: #999999
}